body{
    margin:0px;
}
*{
    box-sizing:border-box;
}
.headerFlex{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin:auto;
}
.animateBottom{
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 2s;
        animation-name: animatebottom;
        animation-duration: 0.2s
      }
      @-webkit-keyframes animatebottom {
        from { bottom:-50px; opacity:0 } 
        to { bottom:0px; opacity:1 }
      }
      @keyframes animatebottom { 
        from{ bottom:-50px; opacity:0 } 
        to{ bottom:0; opacity:1 }
}
.firstButton{
    background-color:#004a43;
    border:none;
    width:200px;
    height:50px;
    font-size:25px;
    padding:10px;
    font-family:Trebuchet MS;
}
.firstButton:hover{
    cursor:pointer;
    background-color:#009688;
    box-shadow:black 0px 0px 7px;
}
.firstContent{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    margin:10px;
}
.flexForColors{
    display:flex;
    justify-content: center;
    flex-direction:center;
    align-items:center;
}
.flexForResponsiveness1{
    display:flex;
    flex-direction:row;
}
.flexForResponsiveness2{
    display:flex;
    flex-direction:row;
}
.flexForResponsiveness3{
    display:flex;
    flex-direction:row;
}
.clickButton{
    border:none;
    background-color:white;
}
.clickButton:hover{
    cursor:pointer;
    background-color:rgb(196, 196, 196);
}
.flexForMovies{
    display:flex;
    flex-direction:row;
}
.flexForCars{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}
.inputClass{
    width:100%;
    border:none;
}
.checkBox1{
    width:20px;
    height:20px;
}
.flexForForms{
    display:flex;
    align-items:center;
}
.rowForForms{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    align-items:center;
}
.columnForForms{
    display:flex;
    flex-direction:column;
}
.formsAndLists{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
}
#myBar{
    width: 2%;
    height: 40px;
    background-color: #009688;
    text-align: center;
    line-height: 40px;
    color: white;
}
.barButton{
    background-color:#009688;
    color:white;
    font-size:16px;
    border:none;
    height:30px;
    width:90px;
}
.barButton:hover{
    cursor:pointer;
    box-shadow:0px 0px 10px gray;
}

